---
Language: Cpp
BasedOnStyle: Microsoft
IndentWidth: 4
ColumnLimit: 100
SortIncludes: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Allman
PointerAlignment: Left
SpaceAfterTemplateKeyword: true
